[Unit]
Description=Orchestrate a high-availability PostgreSQL system
After=syslog.target network.target
 
[Service]
Type=simple
 
User=postgres
Group=postgres
 
ExecStart=/usr/bin/python3 /usr/local/bin/patroni /etc/patroni_{{ item.name }}.yml
 
KillMode=process
 
TimeoutSec=30
 
Restart=always
RestartSec=5
 
[Install]
WantedBy=multi-user.target
